{% macro currentlyReading() %}
    <ul>
        <li>
            <a href="https://www.coursera.org/learn/machine-learning">Andrew Ng Machine Learning</a>
        </li>
        <li>
            <a href="https://www.goodreads.com/book/show/58128.Head_First_Design_Patterns">Head First Design Patterns</a>
        </li>
        <li>
            <a href="https://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things">The Design Of Everyday Things</a>
        </li>
    </ul>
{% endmacro %}