{%- from "components/language.njk" import language -%}
{% macro languages() %}
    <div class="inline-flex flex-wrap gap-3">

        <div>
            {{language("React", "/static/react.png")}}
        </div>

        <div>
            {{language("JavaScript", "/static/js.png")}}
        </div>

        <div>
            {{language("TypeScript", "/static/ts.png")}}
        </div>

        <div>
            {{language("Java", "/static/java.png")}}
        </div>

        <div>
            {{language("Kotlin", "/static/kotlin.png")}}
        </div>
        <div>
            {{language("Spring", "/static/spring.png")}}
        </div>

        <div >
            {{language("Python", "/static/python.png")}}
        </div>
        <div >
            {{language("Pandas", "/static/pandas.png")}}
        </div>
        <div >
            {{language("AWS", "/static/cloud-computing.png")}}
        </div>

    </div>
{% endmacro %}