<!DOCTYPE html>
<html lang="en">
  <head>

    {# This is the base template for the site–other templates extend this one #}

    <meta charset="utf-8"/>
    <link rel="icon" href="/public/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Your new 11ty blog"/>
    <link rel="stylesheet" href="/assets/css/tailwind.css"/>
    {% seo "" %}
  </head>
  <body>
    <main>
      <header>
        <div class="flex flex-wrap justify-between items-center max-w-5xl mt-1 py-6 px-4 mx-auto gap-6">
          <div class="flex flex-wrap items-center gap-4">
            <img class="w-10 transform duration-500 ease-in-out hover:rotate-180" src="/public/favicon.ico"/>
            <a class="font-bold tracking-widest" href="/">Maggie Xu</a>
          </div>

          <div class="flex flex-wrap items-center gap-6">
            <a class="font-medium" href="/posts">Posts</a>
            <a class="font-medium" href="/about-me">About Me</a>
            <div class="flex flex-row gap-4">
              <div class="box-border w-8 h-auto">
                <a href="https://www.linkedin.com/in/maggiemxu/">
                  <img class="object-cover transform duration-500 ease-in-out hover:scale-125" src="/static/linkedin.png">
                </a>
              </div>
              <div class="box-border w-8 h-auto">
                <a href="mailto:maggiemxu11@gmail.com">
                  <img class="object-cover transform duration-500 ease-in-out hover:scale-125" src="/static/email.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>

      {# Page or post content will appear here #}

      {{ content | safe }}

    </main>

  </body>
</html>