---
layout: layouts/base.njk
templateClass: tmpl-home
---
{%- from "components/languages.njk" import languages -%}
{%- from "components/currentlyReading.njk" import currentlyReading -%}

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="pb-48 content">
    {{ content | safe }}

    <h3>Working Languages</h3>
    {{languages()}}

    <h3>Currently Studying</h3>
    {{currentlyReading()}}

    {# After the the content defined in index.md, list the blog posts in the collection #}
    <h3>Posts</h3>
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>{{ post.data.page.date | htmlDateString }} — <a href='{{ post.url }}'>{{ post.data.title }}</a>
        </li>
      {%- endfor -%}
      <li>
        <a href="/posts">View all posts</a>
      </li>
    </ul>
  </div>
</div>